# Dependencies
node_modules/

# Build output
dist/
build/
.next/

# Local env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.local
.npm-cache-temp/

__pycache__/

*.db